<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wk.rbac.sys.mapper.menu.MenuMapper">
    <resultMap id="BaseResult" type="com.wk.rbac.entity.po.RbMenu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="pd_id" jdbcType="INTEGER" property="pId" />
        <result column="menu_text" jdbcType="VARCHAR" property="menuText"/>
        <result column="menu_url" jdbcType="VARCHAR" property="menuUrl"/>
        <result column="menu_icon" jdbcType="VARCHAR" property="menuIcon"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="menu_disable" jdbcType="BOOLEAN" property="menuDisable"/>
    </resultMap>
    <sql id="basesql" >
        id, p_id, menu_text, menu_url,menu_icon, order_num, menu_disable
    </sql>
    <select id="conditionQuery" resultMap="BaseResult">
        select <include refid="basesql"/> from rb_menu
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="pid != null">
                and p_id = #{pid}
            </if>
            <if test="menuText != null">
                and menu_text = #{menuText}
            </if>
            <if test="menuUrl != null">
                and menu_url = #{menuUrl}
            </if>
            <if test="menuIcon != null">
                and menu_icon = #{menuIcon}
            </if>
            <if test="menuDisable != null">
                and menu_disable = #{menuDisable}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.wk.rbac.entity.po.RbMenu">
        insert into rb_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pId != null">
                p_id,
            </if>
            <if test="menuText != null">
                menu_text,
            </if>
            <if test="menuUrl != null">
                menu_url,
            </if>
            <if test="menuIcon != null">
                menu_icon,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="menuDisable != null">
                menu_disable,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pId != null">
                #{pId},
            </if>
            <if test="menuText != null">
                #{menuText},
            </if>
            <if test="menuUrl != null">
                #{menuUrl},
            </if>
            <if test="menuIcon != null">
                #{menuIcon},
            </if>
            <if test="orderNum != null">
                #{orderNum},
            </if>
            <if test="menuDisable != null">
                #{menuDisable},
            </if>
        </trim>
    </insert>
    
    <update id="update" parameterType="com.wk.rbac.entity.po.RbMenu">
        update rb_menu
        <set>
            <if test="pId != null">
                p_id = #{pId},
            </if>
            <if test="menuText != null">
                menu_text= #{menuText},
            </if>
            <if test="menuUrl != null">
                menu_url = #{menuUrl},
            </if>
            <if test="menuIcon != null">
                menu_icon = #{menuIcon},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum},
            </if>
            <if test="menuDisable != null">
                menu_disable = #{menuDisable},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteMenu" parameterType="com.wk.rbac.entity.po.RbMenu">
        delete from rb_menu
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="id != null">
               and id = #{id}
            </if>
            <if test="pId != null">
                and p_id = #{pId}
            </if>
            <if test="menuText != null">
                and menu_text= #{menuText}
            </if>
            <if test="menuUrl != null">
                and menu_url = #{menuUrl}
            </if>
            <if test="menuIcon != null">
                and menu_icon = #{menuIcon}
            </if>
            <if test="orderNum != null">
                and order_num = #{orderNum}
            </if>
            <if test="menuDisable != null">
                and menu_disable = #{menuDisable}
            </if>
        </trim>
    </delete>

    <delete id="batchDelete" parameterType="java.util.List">
        delete from rb_menu where id in
        <foreach collection="list" item="itm" open="(" close=")" separator=",">
            #{itm}
        </foreach>
    </delete>
</mapper>