* {
    padding: 0;
    margin: 0;
}
/*  https://gitee.com/xiaoqiang001/html_css_material.git */
.w {
    width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #F3F5F7;
}
li {
    list-style-type: none;
}
/* header */
.header {
    height: 42px;
    margin: 30px auto;
    /* background-color: pink; */
}

.header .logo {
    float: left;
}

.header .nav {
    float: left;
}

.header .nav ul {
    margin-left: 70px;
}
.header .nav ul li {
    float: left;
    margin-left: 30px;
    line-height: 42px;
}

.header .nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    font-size: 18px;

}
.header .nav ul li a:hover {
    color: #00A4FF;
    border-bottom: 2px solid #00A4FF;
}
.header .search {
    float: left;
    line-height: 42px;
    margin-left: 70px;
}
.header .search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00A4FF;
    color: #C5D6EE;
    font-size: 14px;
    padding-left: 15px;
}
.header .search .btn {
    float: left;
    width: 50px;
    height: 42px;
    background: url("images/btn.png");
    border: 0;
}
.header .user {
    float: right;
    line-height: 42px;
    color: #666;
    margin-right: 30px;
    font-size: 14px;
}
/* banner */
.banner {
    height: 412px;
    background-color: #1C036C;
}

.banner .banner-body {
    height: 412px;
    background: url(images/banner2_20190819_210028.png) no-repeat top center;
}

.banner .sidenav{
    float: left;
    height: 412px;
    width: 190px;
    background-color: rgba(0, 0, 0, 0.3)
}

.banner .sidenav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.banner .sidenav ul li a{
    text-decoration: none;
    color: #fff;
}

.banner .sidenav ul li a span {
    display: block;
    float: right;
}

.banner .sidenav ul li a:hover {
    color: #00A4FF;
}

.banner .course {
    float: right;
    width: 230px;
    height: 300px;
    margin-top: 50px;
    background-color: #fff;
}
.course h2 {
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #9BCEEA;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.course .bd {
    padding: 0 20px;
}
.course ul li {
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}
.course ul li h3 {
    font-size: 16px;
    color: #4e4e4e;
}
.course ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.course .bd .info {
    display: block;
    height: 38px;
    margin-top: 5px;
    border: 1px solid #00a4ff;
    text-decoration: none;
    text-align: center;
    color: #00a4ff;
    font-weight: 700;
    line-height: 38px;
    font-size: 16px;
}

/* 精品推荐 */
.goods {
    height: 60px;
    line-height: 60px;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.goods h3 {
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;
}

.goods>a {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
    text-decoration: none;
}

.goods ul {
    float: left;
    margin-left: 30px;
}

.goods ul li {
    float: left;
}

.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
    text-decoration: none;
}
/* 精品推荐核心区 */
.box {
    margin-top: 30px;
}
.box-hd {
    height: 45px;
}
.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box-hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 10px;
}
.clearfix::before,
.clearfix::after{
    content: " ";
    display: block;
}
.clearfix::after {
    clear: both;
}

.box-bd {
    width: 1225px;
}

.box-bd ul li {
    /* 子绝父相 应用 */
    position: relative;
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
}
.box-bd ul li em {
    /* 子绝父相应用 */
    position: absolute;
    top: 4px;
    right: -4px;
}
.box-bd ul li > img {
    width: 100%;
}
.box-bd ul li p {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
}
.box-bd ul li span {
    color: #ff7c2d;
}
.box-bd .box-info {
    margin:0 20px 0 25px;
    font-size: 12px;
    color: #999;

}
/* footer */
.footer {
    height: 415px;
    background-color: #fff;
}
.footer .w {
    padding-top: 35px;
}
.footer .copyright{
    float: left;
}
.footer .copyright p {
    font-size: 12px;
    color: #666;
    margin: 20px 0 15px 0;
}

.footer .copyright a {
    display: block;
    border:1px solid #00a4ff;
    width: 118px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    text-decoration: none;
    color: #00a4ff;
    font-size: 16px;
}

.footer .links{
    float: right;
}
.footer .links dl {
    float: left;
    margin-left: 100px;
}
.footer .links dl dt {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}
.footer .links dl a {
    text-decoration: none;
    font-size: 12px;
    color: #333;
}